@import url(https://db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir-Medium);

@font-face {
  font-family: "Avenir-Medium";
  src: url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot");
  src: url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.svg#Avenir-Medium")
      format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f4f5f6 !important;
  --secondary-color: #054d6f !important;
}
body {
  overflow-x: hidden !important;
  font-family: "Avenir-Medium" !important;
}
hr {
  margin: 0px !important;
}
div.container-fluid {
  --bs-gutter-x: none !important;
}
.header {
  background: #fff;
  padding: 10px 40px;
  overflow-x: hidden !important;
  box-shadow: 2px 2px 24px #b7a5a5;
}
.header .social-media a {
  color: white;
  font-size: 23px;
}

.search-bar {
  background-color: rgb(238 235 235);
  height: 30px;
  width: 300px;
  border-radius: 10px;
}
.search-bar input {
  border: none;
  outline: none;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: rgb(238 235 235);
}

.social-media .fa-facebook-f {
  font-size: 23px;
  padding: 10px 14px;
}
.social-media a i {
  margin: 0 10px;
  background-color: #078ece;

  border-radius: 50%;
  padding: 10px;
  display: inline-block;
}
.social-media i:hover {
  color: blue;
  background-color: white;
  transition: 0.3s ease-in-out;
  border: 1px solid blue;
}
.header .social-media .dropdown{
  font-size: 16px !important;
}
.logo img {
  margin: 0px 10px 0px 20px;
}

.navbar {
  height: 90vh;
  top: 0px;
  display: inline-block;
  position: fixed !important;
  background-color: #33339a !important;
  margin-top: 80px;
  z-index: 2;
}
.navbar ul {
  margin: 20px 50px 20px 30px !important;
}
.nav-item .nav-link i {
  margin-right: 18px;
}

.bg-body-tertiary {
  --bs-bg-opacity: none;
  background-color: none !important;
}
.navbar ul li {
  margin-top: 20px;
}
.navbar ul li a {
  color: ghostwhite;
}
.navbar ul li:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-in;
}
.qtn-approval p{
    background-color: #fbb2b2;
  text-align: center;
  color: rgb(12, 12, 12);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 0px;
  width: 50%;
}
.qtn-approval p:hover{
    background-color: #078ece;
    color: white;
    transition: 0.2s ease-in-out;
  }


.good-receipt .request-no{
    background-color: #fbb2b2;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;

}
.quotation{
    background-color: skyblue;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
 /* .number{
    padding: 18px;
} */
.approve-btn{
    background-color: rgb(92, 214, 92);
    color: #fff;
    text-decoration: none;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    height: 34px;
}
.reject-btn{
    background-color: rgb(223, 34, 34);
    color: #fff;
    text-decoration: none;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    height: 34px;
}




@media only screen and (max-width: 408px) {
  .social-media .fa-facebook-f{
    display: none;
  }
  .social-media .fa-twitter{
    display: none;
  }
}
@media only screen and (max-width: 767px) {
    .search-bar {
      display: none;
    }
    .goods{
        display: block !important;
        justify-content:center !important;
        text-align: center !important;
    }
    .goods .goods-qtn{
        display: flex !important;
        justify-content: space-between !important;
        text-align: center !important;

    }
    .approve-btn{
        margin-bottom: 20px !important;
    }
    
   
  }
  @media only screen and (max-width: 992px) {
   .good-receipt{
    margin: 120px 0px 0px 0px  !important;
   }
    
  }