@import url(https://db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir-Medium);

@font-face {
  font-family: "Avenir-Medium";
  src: url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot");
  src: url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.svg#Avenir-Medium")
      format("svg");
}

:root {
  --primary-color: #f4f5f6 !important;
  --secondary-color: #054d6f !important;
}
body {
  font-family: "Avenir-Medium" !important;
  overflow-x: hidden !important;
  background-color: var(--primary-color);
}
hr {
  margin: 0px !important;
}
div.container-fluid {
  --bs-gutter-x: none !important;
}
.header {
  background: #fff;
  padding: 10px 40px;
  overflow-x: hidden !important;
  box-shadow: 2px 2px 24px #b7a5a5;
}
.header .social-media a {
  color: white;
  font-size: 23px;
}

.search-bar {
  background-color: rgb(238 235 235);
  height: 30px;
  width: 300px;
  border-radius: 10px;
}
.search-bar input {
  border: none;
  outline: none;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: rgb(238 235 235);
}

.social-media .fa-facebook-f {
  font-size: 23px;
  padding: 10px 14px;
}
.social-media a i {
  margin: 0 10px;
  background-color: #078ece;

  border-radius: 50%;
  padding: 10px;
  display: inline-block;
}
.social-media i:hover {
  color: blue;
  background-color: white;
  transition: 0.3s ease-in-out;
  border: 1px solid blue;
}
.header .social-media .dropdown{
  font-size: 16px !important;
}
.logo img {
  margin: 0px 10px 0px 20px;
}

.navbar {
  height: 90vh;
  top: 0px;
  display: inline-block;
  position: fixed !important;
  background-color: #33339a !important;
  margin-top: 80px;
  z-index: 2;
}
.navbar ul {
  margin: 20px 50px 20px 30px !important;
}
.nav-item .nav-link i {
  margin-right: 18px;
}

.bg-body-tertiary {
  --bs-bg-opacity: none;
  background-color: none !important;
}
.navbar ul li {
  margin-top: 20px;
}
.navbar ul li a {
  color: ghostwhite;
}
.navbar ul li:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-in;
}

h4 {
  font-family: "AvenirBlack";
  font-weight: bold;
}
.inventory-container1 {
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  box-shadow: 1px 2px 21px gray;
}
p {
  margin-bottom: 0px !important;
}
.inventory-container1 i {
  margin-right: 10px;
  font-size: 30px;
  padding: 5px;
  background: #cfc6c6;
  border-radius: 2px;
}
.fa-truck {
  color: #d74545;
}
.fa-chart-simple {
  color: #8a7c2e;
}
.fa-percent {
  color: #308430;
}

.search {
  top: 6px;
  left: 10px;
}

.form-control {
  border: none;
  padding-left: 32px;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}
.fa-ellipsis-vertical {
  /* margin-right: 10px; */
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  .search-bar {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .inventory-container1 {
    display: block;
  }
  .out-stock,
  .low-stock,
  .Highest-stock {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Highest-stock {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 408px) {
  .social-media .fa-facebook-f{
    display: none;
  }
  .social-media .fa-twitter{
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .inventry-info {
    margin-left: 0px !important;
    display: flex;
    /* justify-content: center; */
  }
  .inventory {
    margin: 90px 10px 0px 10px !important;
  }
}
